<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>登录</title>
    <link rel="stylesheet" th:href="@{/static/login/all.min.css}">
    <link rel="stylesheet" th:href="@{/static/login/style.css}">
    <script th:src="@{/static/jQuery/jquery-3.6.0.min.js}"></script>
    <!--    用于加密的js-->
    <script th:src="@{/static/jQuery/jquery.base64.js}"></script>


    <script>
        $(document).ready(function () {
            $("#login").click(function () {
                const user_name = document.getElementById("user_name").value;
                const password = document.getElementById("password").value;
                var encode = $.base64.encode(password);
                const user_type = document.getElementById("user_type").value;
                $.ajax({
                    url: '[[@{/login/toIndex}]]',
                    type: 'POST',
                    data: {
                        user_name: user_name,
                        password: encode,
                        user_type: user_type
                    },
                    async: true,
                    success: function (data) {
                        if (data == 'true') {
                            document.getElementById("hid").click();
                        } else {
                            alert("用户名或密码错误，请重新登录！");
                        }
                    }
                })
            })
        });
    </script>


</head>

<body>
<div class="main" id="main">
    <div class="form-container sign-in-container">
        <form th:action="@{/login/toIndex}" method="post" id="form">
            <h1>登 录</h1>
            <input type="text" placeholder="用户名" name="user_name" id="user_name">
            <input type="password" placeholder="密 码" name="password" id="password">
            <select name="user_type" id="user_type">
                <option>租车人</option>
                <option>车主</option>
                <option>管理员</option>
            </select>
            <a th:href="@{/login/toModify}">忘记密码？</a>
            <a id="login">
                <button type="button" onclick="f();">登 录</button>
            </a>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <h1>没有帐号？</h1>
                <p>立即注册加入我们，和我们一起开始旅程吧</p>
                <a th:href="@{/register/toRegister}">
                    <button class="switcher" id="btnRegister">注 册</button>
                </a>
            </div>
        </div>
    </div>
</div>
<div id="layoutAuthentication_footer">
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; 云租车平台 2021</div>
            </div>
        </div>
    </footer>
</div>
<a id="hid" th:href="@{/login/login_success}"></a>
</body>
</html>