<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Password Reset - SB Admin</title>
    <link th:href="@{/static/startbootstrap-sb-admin-gh-pages/css/styles.css}" rel="stylesheet"/>
    <!--    <script th:src="@{/static/startbootstrap-sb-admin-gh-pages/js/all.min.js}" crossorigin="anonymous"></script>-->
    <script th:src="@{/static/jQuery/jquery-3.6.0.min.js}"></script>
    <!--    用于加密的js-->
    <script th:src="@{/static/jQuery/jquery.base64.js}"></script>

    <script>
        $(document).ready(function () {
            $("#reset").click(function () {
                const inputEmail = document.getElementById("inputEmail").value;
                const inputPwd = document.getElementById("inputPwd").value;
                var encode = $.base64.encode(inputPwd);
                const confirmPwd = document.getElementById("confirmPwd").value;
                const inputName = document.getElementById("inputName").value;
                if (inputEmail == "" || inputPwd == "" || confirmPwd == "" || inputName == "") {
                    alert("请完善信息！");
                } else if (inputPwd != confirmPwd) {
                    alert("请保持密码一致！");
                } else {
                    $.ajax({
                        url: '[[@{/login/modify}]]',
                        type: 'POST',
                        data: {
                            inputEmail: inputEmail,
                            inputPwd: encode,
                            inputName: inputName
                        },
                        async: true,
                        success: function (data) {
                            if (data == 'true') {
                                document.getElementById("hid").click();
                            } else {
                                alert("请输入正确的密码格式！");
                            }
                        }
                    });
                }
            });
        });
    </script>
</head>

<body class="bg-primary">
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">重置密码</h3>
                            </div>
                            <div class="card-body">
                                <div class="small mb-3 text-muted">输入邮箱号来验证你的身份：</div>
                                <form>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="inputEmail" type="email" name="email"
                                               placeholder="name@example.com"/>
                                        <label for="inputEmail">邮箱</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="inputName" type="email" name="email"
                                               placeholder="name@example.com"/>
                                        <label for="inputEmail">用户名</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="inputPwd" type="password" name="password"
                                               placeholder="name@example.com"/>
                                        <label for="inputPwd">密码</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="confirmPwd" type="password" name="confirm"
                                               placeholder="name@example.com"/>
                                        <label for="confirmPwd">确认密码</label>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                        <a class="small" th:href="@{/login/toLogin}">返回登录</a>
                                        <a class="btn btn-primary" id="reset">重置密码</a>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer text-center py-3">
                                <div class="small"><a th:href="@{/register/toRegister}">重新注册</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div id="layoutAuthentication_footer">
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; 云租车平台 2021</div>
                    <div>
                        <a href="#">隐私政策</a> &middot;
                        <a href="#">条件 &amp; 条款</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<a id="hid" th:href="@{/login/toLogin}"></a>
<!--<script th:src="@{/static/login/bootstrap.bundle.min.js}" crossorigin="anonymous"></script>-->
<!--<script th:src="@{/static/startbootstrap-sb-admin-gh-pages/js/scripts.js}"></script>-->
</body>

</html>